/* You can add global styles to this file, and also import other style files */

@mixin labels {
        color: crimson;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        font-weight: bold;
}


html, body { height: 90%; }
body {color: aliceblue;background-color: rgb(28, 34, 44); margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: whitesmoke;
}

.mat-form-field-appearance-legacy .mat-form-field-underline
{
    background-color: dodgerblue;
}

.mat-input-element{

    caret-color: gainsboro;
}

.mat-placeholder-required{
    color: crimson;
}


mat-label{
    @include labels()
}